body {
    background-color: #F2F7F6;
}

* {
    margin: 0%;
    padding: 0%;
}

.div1 {
    background-color: #F2F7F6;
    text-align: center;
}

.div1 ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

#li1 {
    margin-left: -120%;
    padding: 0%;
}

#li2 {
    color: black;
    padding-top: 10%;
    margin-left: 200%;
    font-size: x-large;
}

#li3 {
    padding-top: 10%;
    padding-left: 15%;
    font-size: x-large;
}

#li4 {
    padding-top: 10%;
    padding-left: 15%;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin-left: 600px;
    margin-top: 40px;
    font-size: xx-large;
    color: black;
}

#p2 {
    font-size: x-large;
    margin-left: 850px;
    margin-top: 40px;
    color: black;
}

.img2 {
    width: 35%;
    margin-left: 32.5%;
}

.login {
    color: #63bfbf;
}